@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400,600,300italic);
/* line 1, ../scss/_headings.scss */
body {
  font-family: 'Josefin Sans', sans-serif;
}

/* line 4, ../scss/_headings.scss */
.navlinks {
  text-transform: uppercase;
  text-align: center;
}

/* line 9, ../scss/_headings.scss */
.contentLinks:hover {
  text-decoration: underline;
}

/* line 16, ../scss/_headings.scss */
h1 {
  font-size: 5em;
}

/* line 21, ../scss/_headings.scss */
h2 {
  font-size: 2.5em;
  color: #87afba;
  text-align: center;
}

/* line 29, ../scss/_headings.scss */
h3.designer {
  text-align: center;
  margin: 0;
}

/* line 35, ../scss/_headings.scss */
h4 {
  margin: 0;
  color: #87afba;
  font-size: 1.5em;
}
/* line 41, ../scss/_headings.scss */
h4.designer {
  text-align: right;
}

/* line 1, ../scss/_layout.scss */
.view {
  margin-top: 6em;
}

/* line 4, ../scss/_layout.scss */
.navbox {
  border-right: .2em solid black;
}

/* line 8, ../scss/_layout.scss */
.sideNav {
  margin-top: 1em;
  font-size: 1.5em;
}

/* line 13, ../scss/_layout.scss */
.fixedelement {
  position: fixed;
  width: inherit;
}

/* line 1, ../scss/_home.scss */
.homefeeds {
  margin-top: 2em;
}

/* line 5, ../scss/_home.scss */
.headingbox {
  text-align: center;
  padding: 3em;
  border-bottom: .2em solid black;
}

/* line 13, ../scss/_home.scss */
.twitterbox {
  border-left: .2em solid black;
}

/* line 17, ../scss/_home.scss */
.feature {
  height: 400px;
}

/* line 20, ../scss/_home.scss */
.featureName {
  text-align: center;
  color: #87afba;
  padding-top: .8em;
  z-index: 30;
  line-height: .9em;
  margin-bottom: 0;
}

/* line 28, ../scss/_home.scss */
.designer {
  text-align: right;
  margin: 0;
}

/* line 32, ../scss/_home.scss */
.featurePhoto {
  position: absolute;
  width: 100%;
  z-index: 0;
  float: left;
}

/* line 40, ../scss/_home.scss */
#ghost {
  background-image: url("../assets/chairs/rounded_transparent.png");
  background-size: contain;
  background-repeat: no-repeat;
}

/* line 2, ../scss/_products.scss */
.productview {
  margin-top: 700px;
}

/* line 8, ../scss/_products.scss */
.productimage {
  margin: auto;
}

/* line 11, ../scss/_products.scss */
.description {
  background: white;
  padding: 2em;
  width: 100%;
}

/* line 19, ../scss/_products.scss */
.productName {
  text-align: right;
}

/* line 24, ../scss/_products.scss */
.productText {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: 700px;
  margin-bottom: 600px;
}

/* line 33, ../scss/_products.scss */
.productDescription {
  position: absolute;
  width: 50%;
}

/* line 38, ../scss/_products.scss */
.productDesigner {
  position: absolute;
  left: 48%;
  width: 50%;
}
